.style1 {font-size: 12px;color: #333333; font-weight:bold;}
.style2 {font-size: 12px;color: #333333;}
.input_style1 {border:1px solid #bbbbbb; width:200px; height:18px; font-size:12px; color:#666666;}
.input_style2 {border:1px solid #bbbbbb; width:450px; height:18px; font-size:12px; color:#666666;}
.textarea_style1 {border:1px solid #bbbbbb; width:450px; height:150px; font-size:12px; color:#666666;}

a {
	text-decoration: none;
}

.center-td {
	margin-bottom: 20px;
}

.center-tr {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

.List {
	margin-bottom: 40px;
	margin-top: 80px;
    font-size: 1.2rem;
}

.table-center-td td font{
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}