@charset "utf-8";

* {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-family: "맑은 고딕";
    color: black;
}

a {
    display: block;
    text-decoration: none;
}

body {
    padding-top: 100px;
}

.top li{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 5px 0;
  font-size: 18px;
  font-weight:bold;
  text-align: center;
}

.top li:nth-child(3) {
    width: 200px;
    float: right;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 75px;
    z-index: 1;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.top {
    width: 2000px;
    height: 100px;
}

.logo {
    width: 200px;
    height: 100px;
    float: left;
    z-index: 1;
}

.logo img {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}

.menu {
    width: 800px;
    height: 100px;
    float: left;
    position: relative;
    z-index: 1;
}

.navi>li {
    width: 200px;
    height: 40px;
    float: left;
    margin-top: 45px;
}

.navi>li>a {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.navi>li>a:hover {
    color: white;
    background-color: black;
    font-weight: bold;
}

.navi>li.active {
    border-bottom: 2px solid blue;
}

.submenu {
    display: none;
    z-index: 1;
    position: relative;
}

.submenu>li {
    width: 200px;
    height: 40px;
}

.submenu>li>a {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}

.submenu>li>a:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(204, 208, 210);
}

.login {
    margin-top: 55px;
    margin-right: 40px;
    background-color: rgb(249, 63, 76);
    border: 2px solid white;
    border-radius: 150px;
    align-self: center;
    width: 150px;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out 0.1s;
}
.login:hover {
    background-color: yellow;
    color: rgb(249, 63, 76);
}

.imgslide {
    width: 100%;
    height: 855px;
    position: relative;
    overflow: hidden;
}

.slidelist img {
    width: calc(100% / 3);
    height: 855px;
    float: left;
}

.slidelist {
    width: 300%;
    height: 855px;
}

.bgi {
    width: 100%;
    height: 300px;
}

.bgi img {
    width: 100%;
    height: 300px;
}

.nog {
    width: 100%;
    height: 500px;
}

.nog img {
    width: 100%;
    height: 500px;
}

#section1 {
    background-color: #FFFAF0;
}

.contents {
    width: 1500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.con-title {
    margin-bottom: 2rem;
    font-size: 18px;
    margin-left: 25px;
}

.con-title>h1 {
    margin-bottom: 1.5rem;
    font-size: 40px;
    font-weight: 600;
}

.line-under {
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.text-left {
    text-align: left;
}

.con-row {
    width: 1500px;
    height: 176px;
}

.row-wr{
    width: 300px;
    height: 176px;
    float: left;
    margin: 0 25px;
    background-color: #e9d3de;
}

.row-wr li {
    width: 235px;
    height: 130px;
    margin-top: 30px;
}

.row-wr li a {
    display: block;
    margin-bottom: 2rem;
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    font-weight: 800;
    color: #333;
}

.row-wr li a:hover {
    color: red;
}

.row-wr span {
    font-size: 16px;
    left: 0;
    font-weight: 100px;
}

.wrpp {
    width: 100%;
    height: 700px;
    background-color: #FFFAF0;
}

.wrp {
    width: 100%;
    background-color: #FFFAF0;
}

.wrappers {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFAF0;
}

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFAF0;
}

.menu-img {
    width: 840px;
}

.menu-img img {
    margin-top: 30px;
    width: 400px;
    height: 700px;
    justify-content: center;
}

.menu-img img:last-child {
    width: 400px;
    height: 300px;
    display: flex;
    margin-bottom: 30px;
}

.Hello-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.Hello-main {
    font-size: 17px;
    font-weight: 100px;
}

.Hello-img img {
    width: 1000px;
    height: 500px;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.if-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.if-main {
    width: 700px;
    margin-top: 30px;
}

.if-main p {
    font-size: 23px;
    color: blue;
}

#section2 {
    width: 100%;
    height: 240px;
    background-color: #5c2d16;
}

footer {
    background-color: #5c2d16;
}

.bottom {
    width: 1200px;
    height: 200px;
    position: relative;
}

.btlogo {
    width: 300px;
    height: 150px;
    position: relative;
    float: left;
}

.btlogo img {
    width: 300px;
    height: 50px;
    margin-top: 30px;
}

.copy {
    width: 900px;
    height: 150px;
    float: left;
}

.copy ul {
    width: 900px;
    height: 42px;
}

.copy li {
   margin-left: 100px;
   text-align: left;
   margin-top: 30px;
   color: rgb(219, 204, 204);
}

.sns img {
    width: 40px;
    float: right;
    height: 40px;
    margin-right: 30px;
}

.sns a:hover {
    opacity: 0.5;
}

.copye {
    width: 100%;
    height: 50px;
    color: rgb(226, 209, 209);
    line-height: 50px;
    float: left;
    border-top: 0.5px solid rgb(218, 216, 216);
    text-align: center;
}