.tabmenu {
    width: 1200px;
    height: 200px;
}

.tabmenu-wrap {
    width: 60%;
    height: 200px;
}

.tabmenu-wrap li {
    float: left;
    width: 130px;
    height: 50px;
    line-height: 50px;
    margin: 80px 50px 0px 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
}

.tabmenu-wrap li>a:hover {
    color: white;
    background-color: black;
}

.tabmenu-wrap li.active {
    background-color: black;
}

.tabmenu-wrap li.active a {
    color: white;
}

.noti-wrap {
    width: 1200px;
    height: 400px;
}

.noti-wrap {
    width: 1200px;
    height: 300px;
    margin: 50px auto;
}

.noti-listwrap {
    width: 1200px;
    height: 400px;
}

.noti-title {
    margin-bottom: 30px;
}

.noti-list {
    width: 1200px;
    height: 400px;
}

.noti-list > div {
    font-size: 0px;
    border-bottom: 1px solid #ddd;
}

.noti-list > div.side {
    border-bottom: 1px solid #ddd;
}

.noti-list > div > div {
    font-size: 1.4rem;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
}

.noti-list > div.side > div {
    font-weight: 600;    
}
 
.noti-list .num {
    width: 150px;

}
.noti-list .title {
    width: 600px;
    text-align: left;
}

.noti-list .side .title {
    text-align: center;
}

.noti-list .title a {
    display: inline-block;
    max-width: calc(100% - 60px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.noti-list .title a:hover {
    border-bottom: 1px solid blue;
    color: blue;
}

.noti-list .writer {
    width: 150px;
    
}
.noti-list .date {
    width: 150px;
    
}
.noti-list .count {
    width: 150px;
}

.nt-wrap {
    margin-top: 30px;
    height: 100px;
    text-align: center;
    font-size: 0;
}

.nt-wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.nt-wrap a:first-child() {
    margin-left: 0;
}

.nt-wrap a.on {
    background: #000;
    color: #fff;
}

.noti-view {
    width: 100%;
    border-top: 2px solid #000;
}

.noti-view .title {
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

.noti-view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.noti-view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.noti-view .info dl:first-child {
    padding-left: 0;
}

.noti-view .info dl::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1px;
    height: 17px;
    background: #ddd;
}

.noti-view .info dl:first-child::before {
    display: none;
}

.noti-view .info dl dt {
    display: inline-block;
    font-size: 1.4rem;
}

.noti-view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 10px;
    color: #777;
}

.noti-view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 100%;
    font-size: 1.4rem;
}